:root {
  --background-color: #f3f3f3;
  --primary-color: #0020bb;
  --secondary-color: #00ffbe;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
}

* {
  touch-action: manipulation;
}